[submodule "third_party/gh"]
	path = third_party/gh
	url = https://github.com/material-foundation/gh.git
[submodule "third_party/apidiff"]
	path = third_party/apidiff
	url = https://github.com/material-motion/apidiff.git
